body{
    margin: 0;
    padding: 0;
}

.custom-tabs .nav-item.nav-link {
    font-size: 1.5em; /* Adjust the size as needed */
    border: none;
  }
  
/* EventOverview.css */

.custom-tabs .nav-link.active,
.custom-tabs .nav-link.active:focus{

  border-bottom: solid #FFB85A 1px !important;
}

.custom-tabs .nav-link.visited,
.custom-tabs .nav-link.hover,
.custom-tabs .nav-link{
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
  
  .tab-title {
    font-size: 1.5em; /* Adjust the size as needed */
  }
  
.card {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/* EventOverview.css */

  .distance {
    font-size: 1.5em;
    font-weight: 700;
    color: #A1A1A1; /* Default text color for distance */

  }
  

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');


.card-img-top {
    object-fit: cover; /* Ensures the image covers the area without stretching */
}

.fa-heart {
    color: #fff; /* Change this to your desired color for the heart icon */
    cursor: pointer;
}

.card-img-top {
    height: 340px;
    border-bottom-radius: 100px; /* You can adjust the border-radius value to control the roundness */
  }

  /* EventOverview.css or your styles */
.nav-link{
    color: #A1A1A1 !important;
}

.card-description {
    font-size: 1.2em; /* Adjust the size as needed */
    color: #A1A1A1;
  }
  

.nav-link.active {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #FFB85A !important;
  }
  


  